# PyPi requirements.
# To install: pip install -r requirements.txt

# CLI parsing
typer

# Fancy output stuff
rich
colorama
progressbar2

# exiv2 is used to parse image data
exiv2

# py7zr is used to create 7-Zip archives for backups
py7zr

# Other stuff
deprecated